<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>7L2A0995.jpg</string>
    <string>7L2A1000.JPG</string>
    <string>7L2A1925.JPG</string>
    <string>7L2A2336.JPG</string>
    <string>7L2A2843.JPG</string>
    <string>7L2A0996.jpg</string>
    <string>7L2A1001.JPG</string>
    <string>7L2A1929.JPG</string>
    <string>7L2A2337.JPG</string>
    <string>zz.jpg</string>
    <string>7L2A0997.jpg</string>
    <string>7L2A1056.JPG</string>
    <string>7L2A1930.JPG</string>
    <string>7L2A2338.JPG</string>
    <string>7L2A0998.JPG</string>
    <string>7L2A1057.JPG</string>
    <string>7L2A1931.JPG</string>
    <string>7L2A2406.JPG</string>
    <string>7L2A0999.JPG</string>
    <string>7L2A1840.JPG</string>
    <string>7L2A1933.JPG</string>
    <string>7L2A2471.JPG</string>
</array>
</plist>

